/* css pour la page index.html*/
header{
    background-color: blue;
    height: 200px;
}
#titre1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: 900;
    text-transform: capitalize;
    font-style: italic;
}
nav{
    background-color: rgb(289, 184, 56);
    height: 200px;
    
}
section{
    background-image: linear-gradient(yellow,red);
    width: 70%;
    height: 500px;
    float: left;
    /* only for inline block
    display: inline-block;
    vertical-align: middle:*/ 
}
aside{
    background-color: green;
    height: 500px;
    width: 30%;
    float: right;
}
footer{
    text-align: center;
}
nav ul li{
    list-style-type: none;
    width: 150px;
    display: inline-block;
    border-radius: 10px 100px;
    margin-left: 220px;
    margin-top: 70px;
    padding: 8px ;
    text-align: center;
    box-shadow: 5px 5px 15px rgb(80, 82, 54);
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: cursive;

}
iframe{
    width: 100%;
    height: 100%;
    background-color: white;


}
table{
    width: 500px;
    margin:0 auto;
    border-color: sienna;
}
.pl{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: cursive;
    display: block;
    margin: 0 auto;
}
/* css pour page media*/
#pic{
    display: inline-block;
} 
/* css pour acceuil*/
#web_dynamic{
    background-image: url(php.png);
    background-repeat: no-repeat;
    background-size: 500px;
    height: 300px;
    background-position: center;
}
#web_style{
    background-image: url(htmlcssjs.png);
    height: 300px;

}