body{
    text-align: center;
}
label{
    display:block;
    margin: 0 auto;
    background-color: rgb(211, 164, 102);
    width: 90px;
    border-radius: 10px
    
}
#length{
    width:80px;
    text-align: center;
    font-weight: bold;
}
button{
background-color: rgb(61, 61, 133);
color: red;
display: block;
width: 80px;
height: 40px;
border-radius: 10px 5px;
margin: 0 auto;
transition-property: all;
transition-duration: 0.5s;
}
button:hover{
    background-color: rgb(161, 161, 228);
    transform: scale(1.2);

}
button:active{
    transform: scale(1);
}
h4{
    color: rgb(53, 20, 20);
}