body{
    text-align: center;
}
label{
    display: block;
    font-size:100px;
    margin-top: 150px;

}
button{
    background-color: rgb(0, 48, 48);
    width: 150px;
    height: 50px;
    color: white;
    font-size: large;
    transition-property: all;
    transition-duration: 1s;
    border-radius: 10px 50px;
}
button:hover{
    transform:scale(1.2);

}
button:active{
    transform:scale(1);
}