/**  index**/
#index_body{
    font-size: 24px;
    font-family: cursive;
    background-color: rgb(8, 173, 238);
}

img{
    border-radius: 10px;
    vertical-align: middle;
    
}
#index_h1{
    border-radius: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    color: white;
    vertical-align: middle;
}
/**  nav**/

ul li{
    list-style: none;
    display: block;
    margin: 0 auto;
    border-radius: 8px 100px;
    
    width: 200px;
    text-align: center; 
    box-shadow: 0px 0px 15px blue;
}
ul li:hover{
    transform: rotateX(30deg);
}
ul li a:link{
    text-align: center;
    text-decoration: none;
    color: skyblue;
    margin: auto;
    color: red;
    
}
ul li a:visited{
    color: yellow;
}
/** index section**/
section{
    height: 450px;
}
#cadre{
    float: left;
    height: 400px;
    width: 60%;
}
video{
    height: 100%;
    width: 100%;
}
aside{
    float: right;
    width: 40%;
    height: auto;
}
#lien{
    clear: both;
    position: fixed;
    top: 150px;
    right: 0px;
}
iframe{
    height: 100%;
    width: 100%;
    background-color: white;
}
/** css pour la page section**/
label{
    text-shadow: 0px 0px 15px purple;;
    display: inline;
}
button{
    background-color: rgb(231, 231, 137);
}
.ra{
    text-shadow: 0px 0px 15px blue;;
    

}
input{
    background-color: aquamarine;
    border-radius: 10px 40px;
}