/**  index**/
#index_body{
    font-size: 24px;
    font-family: cursive;
    background-color: rgb(8, 173, 238);
}

img{
    border-radius: 10px;
    vertical-align: middle;
    transition-property: transform ;
    transition-duration: 6s;
    transition-delay: 0.5s;
}
img:hover{
    transform: skew(30deg)
}
#index_h1{
    border-radius: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    transition-property: transform,color;
    transition-delay: 0.5s;
    transition-duration: 1s,5s;
}
#index_h1:hover{
    transform:scale(1.5) ;
    color: gold;
}
/**  nav**/
ul{
    text-align: center;
}
ul li{
    list-style: none;
    display: inline-block;
    border-radius: 8px 100px;
    vertical-align: middle;
    width: 200px;
    background-color: skyblue;
    box-shadow: 0px 0px 15px blue;
    transition-property: all;
}
ul li:hover{
    transform: rotateX(30deg);
    background-color: red;
}
ul li a{
    text-decoration: none;
    /**color: skyblue;**/
    
    
}
ul li a:visited{
    color: yellow;
}
/** index section**/
section{
    height: 450px;
}
#cadre{
    float: left;
    height: 400px;
    width: 60%;
}
video{
    height: 100%;
    width: 100%;
}
aside{
    float: right;
    width: 40%;
    height: auto;
}
#lien{
    clear: both;
    position: fixed;
    top: 150px;
    right: 0px;
}
iframe{
    height: 100%;
    width: 100%;
    background-color: white;
}
/** css pour la page section**/
label{
    text-shadow: 0px 0px 15px purple;;
    display: inline;
}
button{
    background-color: rgb(231, 231, 137);
}
.ra{
    text-shadow: 0px 0px 15px blue;;
    

}
input{
    background-color: aquamarine;
    border-radius: 10px 40px;
}